[Desktop Entry]
Name=yadshot
Comment=Take screenshots. Upload screenshots, pastes, and files easily.
Exec=yadshot
Icon=yadshot
Type=Application
Terminal=false
StartupNotify=false
Categories=Utility;
