[Desktop Entry]
Name=yadshot
Comment=Take screenshots and upload screenshots and other files easily.
Exec=yadshot
Icon=yadshot
Type=Application
Terminal=false
StartupNotify=false
Categories=Utility;
